/* #label {
    background-color: rgb(50, 50, 50)
} */

#canvas {
    /*background-color: #931212;*/
}

.QRubberBand {
    border: 2px solid red;
    background-color: red;
}

#cancel_button {
    border: 1px solid #4fa5f8;
    background-color: #adcef8;
    border-radius: 5px;
    padding: 3px 3px;
    color: black;
    min-width: 40px;
    font-size: 14px;
}

#cancel_button:hover {
    border: 1px solid #4fa5f8;
    background-color: #4fa5f8;
}

#blur_container {
    border: 1px solid black;
    border-radius: 5px;
    background-color: blue;
}

#error_label {
    color: red;
}

