#label {
    background-color: rgb(50, 50, 50)
}

#canvas {
    /*background-color: #931212;*/
}

QRubberBand {
    border: 2px solid red;
    background-color: red;
}

#button_photo_edit {
    border: 2px solid transparent;
    background-color: #adc9fa;
    border-radius: 10px;
    padding: 3px 3px;
    color: black;
    width: 40px;
    font-size: 14px;
}

#button_photo_edit:hover {
    border: 2px solid #adcafc;
}